<div>
    <div class="row" *ngFor="let rows of tablet; let i = index">
        <app-cell *ngFor="let cell of rows; let j = index" [value]="cell" [row]="i" [column]="j" (isChoosedEvent)="chooseCell($event)"></app-cell>
    </div>
</div>